* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.domanda {
    cursor: pointer;
}

.risposta {
    display: none;
}

.risposta.aperta {
    display: block;
}
